{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(https://assets.weforum.org/article/image/responsive_big_webp_JMF96ETfn1kSViVnUou1Z0XIDwWcPpT5mrPc7-ytpAc.webp)">
        <div class="container">
            <h2>Welcome to <span>SDN Science Academy</span></h2>
            <p>I am akhil Pandey . i am a student of sdn science academy 2014-2018.I am to exited that oppetinuity i make a good website my school.</p>
            <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
      </div>
        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(https://pbs.twimg.com/media/B5J_ItFCEAE0nsd.jpg)">
        <div class="container">
            <h2>Welcome to <span>SDN Science Academy</span></h2>
            <p>I am akhil Pandey . i am a student of sdn science academy 2014-2018.I am to exited that oppetinuity i make a good website my school.</p>
            <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
        </div>
      
        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url({% static 'img/slide/school1.jpg' %})">
        <div class="container">
            <h2>Welcome to <span>SDN Science Academy</span></h2>
            <p>I am akhil Pandey . i am a student of sdn science academy 2014-2018.I am to exited that oppetinuity i make a good website my school.</p>
            <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
        </div>
      
    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>
  
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
        <h2>About Us</h2>
        <h1 class="mt-6">PRINCIPAL</h1>
        </div>
<!--       
<nav1>
  <div class="found">
      <img src="{% static 'img/slide/school.jpg'%}">
  </div>
  <div class="text">
      <h1>Principal</h1>
      <h2>BABY</h2>
      <p>kjfioergjreogjsdlgjreiotjwieorfhrngkjdsfethwiurhergkjsfhi
          uwehgeiufhskghehfwiheihfe</p>
  </div>
</nav1>-->
<div class="card mb-4" style="max-width: 98;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'img/slide/school.jpg' %}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title text-black">Name</h3>
        <h6 class="card-title text-black">Qualification</h6>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
  </div>
</div>
    </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
    <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
      
        <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
            <i class="fa fa-star"></i>
            <span data-purecounter-start="0" data-purecounter-end="something" data-purecounter-duration="1" class="purecounter"></span>

            <p><strong>Teacher</strong>Finf more </p>
            <a href="#">Find out more &raquo;</a>
            </div>
    
        </div>

        

        <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
            <i class="fa fa-graduation-cap"></i>
            <span data-purecounter-start="0" data-purecounter-end="1000" data-purecounter-duration="1" class="purecounter"></span>
            <p><strong>Students</strong>  something</p>
            <a href="#">Find out more &raquo;</a>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-star"></i>
              <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Award</strong> Somethin</p>
              <a href="#">Find out more &raquo;</a>
            </div>
          </div>

        </div>
      
      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
{% for i in new_testimonial %}
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{i.graduation}}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{{i.testimonial_image.url}}" class="testimonial-img" alt="">
                <h3>{{i.name}}</h3>
                <h4>{{i.passion}}</h4>
              </div>
            </div><!-- End testimonial item -->
{% endfor %}

          
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Doctors Section ======= -->
  <!-- <section id="doctors" class="doctors section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Student</h2>
          <p>Top most Student</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="/static/img/doctors/doctors-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4> Name</h4>
                <span>Pssion</span>
              </div>
            </div>
          </div>

          <button class="btn btn-danger"><a href="#" class="float-left">click Here</a>
          </button>
          
        </div>

      </div>
    </section>--><!-- End Doctors Section -->
  
    <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Teachers</h2>
          <p>Teacher who make a successful Engineer,Doctor,Teacher,etc....</p>
        </div>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
</div>
        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            {% for x in img %}
            <div class="swiper-slide"><a class="gallery-lightbox"><img src="{{x.new_image.url}}" class="img-fluid responsive"  alt=""></a></div>
            {% endfor %}
      <!--      <div class="swiper-slide"><a class="gallery-lightbox" href="static/img/gallery/gallery-2.jpg"><img src="static/img/gallery/gallery-2.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="static/img/gallery/gallery-3.jpg"><img src="static/img/gallery/gallery-3.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="static/img/gallery/gallery-4.jpg"><img src="static/img/gallery/gallery-4.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="static/img/gallery/gallery-5.jpg"><img src="static/img/gallery/gallery-5.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="static/img/gallery/gallery-6.jpg"><img src="static/img/gallery/gallery-6.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="gallery-lightbox" href="static/img/gallery/gallery-7.jpg"><img src="static/img/gallery/gallery-7.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="gallery-lightbox" href="static/img/gallery/gallery-7.jpg"><img src="static/img/gallery/gallery-7.jpg" class="img-fluid" alt=""></a></div>
          -->       </div>

          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->

  <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container">

        <div class="row mt-5">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>Kharahara,Maharua road Dostpur,Ambedkar-Nagar</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>akhil@gmail.com<br>pandey@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+91 7068985399<br>+91 0000000000</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="/" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" value="{{name}}" placeholder="Your Name" required>
                </div>
                <div class="col form-group mt-3">
                  <input type="email" class="form-control" name="email" id="email" value="{{email}}" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" value="{{subject}}" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" id="message" value="{{message}}" placeholder="Message" required></textarea>
              </div>
            
              <div class="text-center"><button type="submit">Send Message</button></div>
              
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  {% endblock %}